#playspace{
  background-color: black;
  margin: 0 auto;
  display: none;
  justify-content: center;
  align-items: center;
}

#player{
  height: 100px;
  border: 2px solid red;
}

h1 {
  text-align: center;
  font-size: 140px;
}

#restartDiv{
  display: none;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

#startscreen {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#start{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
